.bluetop {
  height: 40px;
  width: 100%;
  background-color: aqua;
}
.bluetopp {
  color: blue;
  font-size: 16px;
  padding-top: 0.5rem;
}
.bluetopspan {
  text-decoration: underline;
}
.topimg {
  width: 80%;
  margin: auto;
}
.offers {
  width: 90%;
  background-color: rgb(224, 224, 224);
  margin-top: 2rem;
  margin-left: 3rem;
  padding-bottom: 1.5rem;
}
.offersflex {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.offersdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.offersbtn {
  width: 150px;
  background-color: #333333;
  color: whitesmoke;
  margin: 1rem;
}
.offersdivh1 {
  font-size: 16px;
  font-weight: 600;
}
.fragimg {
  width: 80%;
  margin-left: 6rem;
  margin-top: 2rem;
}
.cat {
  font-size: 25px;
  font-weight: 600;
  margin-top: 3rem;
}
.catflex {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.catflexdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catimg {
  height: 150px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  margin: 5rem;
}
.shopdiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.pinkimgdiv {
  margin: 5rem;
}
.pinkimg {
  margin-top: 3rem;
}
.btndowngrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 5rem;
}
.btndown {
  background-color: #333333;
  color: white;
  font-size: 15px;
  height: 35px;
  font-weight: 600;
}
.down {
  text-align: center;
}
.downh1 {
  font-size: 25px;
  font-weight: 600;
}
.downflex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 4rem;
}
.downp {
  margin-left: 6rem;
  width: 900px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  margin-bottom: 7rem;
}

/* ///////////////////////////////////////////////
////////////tablet view ////////////////////////
/////////////////////////////////////////////// */
@media (max-width: 1024px) {
  .bluetop {
    height: 40px;
    width: 100%;
    background-color: aqua;
  }
  .bluetopp {
    color: blue;
    font-size: 16px;
    padding-top: 0.5rem;
  }
  .bluetopspan {
    text-decoration: underline;
  }
  .topimg {
    width: 80%;
    margin: auto;
  }
  .offers {
    width: 96%;
    background-color: rgb(224, 224, 224);
    margin-top: 2rem;
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .offersflex {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .offersdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
  }
  .offersbtn {
    width: 150px;
    background-color: #333333;
    color: whitesmoke;
    margin: 1rem;
  }
  .offersdivh1 {
    font-size: 16px;
    font-weight: 600;
  }
  .fragimg {
    width: 80%;
    margin-left: 6rem;
    margin-top: 2rem;
  }
  .cat {
    font-size: 25px;
    font-weight: 600;
    margin-top: 3rem;
  }
  .catflex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .catflexdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catimg {
    height: 150px;
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    margin: 5rem;
  }
  .shopdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .pinkimgdiv {
    margin: 5rem;
  }
  .pinkimg {
    margin-top: 3rem;
  }
  .btndowngrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 2rem;
  }
  .btndown {
    background-color: #333333;
    color: white;
    font-size: 14px;
    height: 35px;
    font-weight: 600;
  }
  .down {
    text-align: center;
  }
  .downh1 {
    font-size: 25px;
    font-weight: 600;
  }
  .downflex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 4rem;
  }
  .downp {
    margin-left: 4rem;
    width: 700px;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-bottom: 7rem;
  }
}
/* /////////////////////////////////////////////////
////////////mobile view//////////////////////////
////////////////////////////////////////////////// */
@media (max-width: 480px) {
  .bluetop {
    height: 40px;
    width: 100%;
    background-color: aqua;
  }
  .bluetopp {
    color: blue;
    font-size: 16px;
    padding-top: 0.5rem;
  }
  .bluetopspan {
    text-decoration: underline;
  }
  .topimg {
    width: 80%;
    margin: auto;
  }
  .offers {
    background-color: rgb(224, 224, 224);
    margin: 1rem;
  }
  .offersflex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
  }
  .offersdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    background-color: white;
    margin: 1rem;
  }
  .offersbtn {
    width: 100px;
    background-color: #333333;
    color: whitesmoke;
    margin: 1rem;
  }
  .offersdivh1 {
    font-size: 16px;
    font-weight: 600;
  }
  .fragimg {
    width: 80%;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .cat {
    font-size: 18px;
    font-weight: 600;
    margin-top: 3rem;
  }
  .catflex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
  }
  .catflexdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catimg {
    height: 150px;
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    margin: 5rem;
  }
  .shopdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .pinkimgdiv {
    margin: 2rem;
  }
  .pinkimg {
    margin-top: 2rem;
  }
  .btndowngrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 1rem;
  }
  .btndown {
    background-color: #333333;
    color: white;
    font-size: 10px;
    height: 35px;
    font-weight: 600;
  }
  .down {
    text-align: center;
  }
  .downh1 {
    font-size: 25px;
    font-weight: 600;
  }
  .downflex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 4rem;
  }
  .downp {
    /* margin-left: 4rem; */
    width: 250px;
    font-size: 10px;
    font-weight: 500;
    color: gray;
    margin-bottom: 7rem;
  }
}
