.navtop {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.text {
  font-size: 14px;
}
.title {
  width: 300px;
  margin-left: 23rem;
}
.navtit {
  display: flex;
}
.navinput {
  margin: 0.5rem;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid gray;
  margin-left: 30px;
}
.navlist {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 4rem;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid gray;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* @media (max-width: 1024px) {
  .navtop {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .text {
    font-size: 14px;
  }
  .title {
    width: 200px;
    margin-left: 18rem;
  }
  .navtit {
    display: flex;
  }
  .navinput {
    margin: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
  }
  .navlist {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 1rem;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
} */

.cart{
  background-image: url("https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.219/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1665827166822/images/svg-icons/UI-AddToBag.svg?yocs=o_s_");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 5px;

}

.mobnav{
  display: none;
}
.desk{
  display: block;
}

.moblist{
  box-shadow: 5px  #888888;
  margin-top: 20px;
  cursor: pointer;
}

@media only screen and (min-width:0px) and (max-width: 480px) {
  /* .navtop {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
  }
  .text {
    font-size: 8px;
  }
  .title {
    width: 200px;
    margin-left: 3.75rem;
  }
  .navtit {
    display: flex;
  }
  .navinput {
    display: none;
  }
  .navlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
    padding-left: 1rem;
    font-size: 8px;
    font-weight: 600;
    border-top: 1px solid gray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  } */
  .desk{
    display: none;
  }
  .mobnav{
    display: block;
  }
  .moblist{
    box-shadow: 5px  #888888;
    margin-top: 20px;
    cursor: pointer;
  }
  
}
  
